html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-brand: #4d5ae5;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --primary-white-color: #ffffff;
}

body {
  background-color: var(--primary-white-color);
  color: var(--text);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1158px;
  padding-right: 15px;
  padding-left: 15px;
  outline: 5px solid peru;
}

.button {
  font-family: inherit;
  display: inline-block;
  min-width: 69px;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* nav */

.header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-main {
  display: flex;
  align-items: center;
}


.logo {
  font-family: Raleway, cursive;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: var(--dark);
  margin-right: 76px;
}

.span {
  color: var(--primary-brand);
}

.site-nav .link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--dark);
}

.site-nav .link:focus {
  color: var(--primary-brand);
}

.site-nav {
  font-weight: 500;
  display: flex;
}

.site-nav .item {
  margin-right: 40px;
}

.site-nav .item:last-child {
  margin-right: 0;
}

.site-adress .link {
  color: var(--dark);
}

.site-adress {
  display: flex;
}

.site-adress .item + .item {
  margin-left: 40px;
}


/* hero */

.hero {
  background-color: var(--dark);
  outline: 5px solid purple;
  text-align: center;
  margin-bottom: 120px;
}

.hero-title {
  color: var(--primary-white-color);
  font-weight: 600;
  font-size: 56px;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 48px;
}

.hero .button-primary {
  color: var(--primary-white-color);
  background-color: var(--primary-brand);
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.04em;
  border-radius: 4px;
  padding: 16px 32px;
  /* border: 1px solid transparent; */
  border: none;
}

.button-primary:hover {
  color: var(--primary-white-color);
  background-color: var(--primary-brand);
}

.button-primary:focus {
  color: var(--primary-white-color);
  background-color: #404bbf;
}

/* adventages */

.advantages {
  margin-bottom: 120px;
}

.advantages-ul {
  display: flex;
  
}
.advantages-ul .advantages-li + .advantages-li {
  margin-left: 24px;
}

.advantages-ul .title {
  color: var(--dark);
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 8px;
}
.advantages-ul p {
  margin-top: 0;
  margin-bottom: 0;
}

/* our work */

.work {
  outline: 5px solid rebeccapurple;
  margin-bottom: 120px;
  text-align: center;
}

.work .title {
  color: var(--dark);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  
}

.work-title {
  color: var(--dark);
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  margin-top: 0;
  margin-bottom: 72px;
}

.work-ul {
  display: flex;
}

.work-ul .work-li + .work-li {
  margin-left: 24px;
}

/* team */
.team-ul {
  display: flex;
}

.team-ul .team-li + .team-li {
  margin-left: 24px;
}

.team {
  background-color: var(--light);
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;
  outline: 5px solid brown;
}

.team-title {
  color: var(--dark);
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  margin-top: 0;
  margin-bottom: 72px;
}

.team-li {
  background-color: var(--primary-white-color);
}

.team .title {
  color: var(--dark);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 8px;
}

.team p {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 32px;
}

.team img {
  margin-bottom: 32px;
}


/* footer */

.footer {
  background-color: var(--dark);
  outline: 5px solid blue;
  
}

.footer-link {
  color: var(--light);
  font-family: Raleway, cursive;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.footer-text {
  color: var(--accent);
}

/* portfolio */
.portfolio {
  outline: 5px solid orangered;
}

/* button */

.portfolio-ul {
  display: flex;
  justify-content: center;
}

.btn {
  margin-top: 96px;
  margin-bottom: 72px;
  outline: 5px solid greenyellow;
}

.portfolio-ul .portfolio-li + .portfolio-li {
  margin-left: 24px;
}

.portfolio-ul .button-secondary {
  color: var(--primary-brand);
  background-color: var(--light);
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  padding: 12px 24px;
  border: 1px solid var(--accent);
}

.button-secondary:hover,
.button-secondary:focus {
  color: var(--primary-white-color);
  background-color: var(--primary-brand);
}

.site-adress .link:hover,
.site-adress .link:focus {
  color: var(--primary-white-color);
  background-color: var(--primary-brand);
}

/* examples */

.examples {
  color: var(--text);
  display: flex;
  flex-wrap: wrap;
  background-color: purple;
 
  outline: 5px solid red;
}

.examples-li {
  
  background-color: yellowgreen;
}



.examples .examples-title {
  color: var(--dark);
}



a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}